<!DOCTYPE html>
<html lang="pt">
<head>

</head>
<body>
    <meta charset="UTF-8"> <!--- Qual significado disso? -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/LivrosAqui/view/css/headerStyle.css">
    <link rel="stylesheet" href="/LivrosAqui/view/css/mainStyle.css">

    <title> Livros Aqui - Home</title>

    <header>
        <a id="icon" href="/LivrosAqui/view/html/index.html">
            <img src="/LivrosAqui/view/css/media/book.png" alt="">
            <h1>LIVROS <span>AQUI</span></h1>
        </a>

        <nav>
            <a href="verLivros.html" >Catálogo</a>
            <a href="anunciarLivros.html" >Vender livros</a>
        </nav>

        <aside>
            <img src="/LivrosAqui/view/css/media/login.png">
            <h2 id="LoginArea">Login</h2>
            
            <h3 id="Exit">Encerrar sessão</h3>
            
        </aside>

    </header>

    <main>
        <section>
            <aside>
                <h1><span>As melhores ofertas dos melhores livros?</span><br>Você encontra aqui!</h1>
            </aside>
            <aside>
                <ul>
                    <li>Tenha acesso a um amplo catálogo de livros usados e novos</li>
                    <li>Anuncie seus livros para venda</li>
                    <li>Plataforma 100% confiável</li>
                </ul>

            </aside>
        </section>


    </main>
</body>
</html>