<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8"> <!--- Qual significado disso? -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/view/css/media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/view/css/headerStyle.css">
    <link rel="stylesheet" href="/view/css/mainStyle.css">

    <title> Livros Aqui - Home</title>
</head>
<body>
    <header>
        <a id="icon" href="/view/html/index.html">
            <img src="/view/css/media/book.png" alt="">
            <h1>LIVROS <span>AQUI</span></h1>
        </a>

        <nav>
            <a href="verLivros.html" >Catálogo</a>
            <a href="anunciarLivros.html" >Vender livros</a>
            <a href="sobreNos.html">Sobre nós</a>
        </nav>

        <aside>
            <img src=" /view/css/media/login.png">
            <a href="login.html">
                <h2 id="LoginArea">Login</h2>
            </a>
            <h3 id="Exit">Encerrar sessão</h3>
            
        </aside>

    </header>

    <main>
        <img id="bunchCover" src=" /view/css/media/aBunchOfBooks.png" alt="a bunch of books">
        <section>
            <aside>
                <div></div>
                <h1><span>As melhores ofertas dos melhores livros?</span><br>Você encontra na Livros Aqui!</h1>
            </aside>
            <aside>
                <ul>
                    <li> <img class="correct" src="/view/css/media/bookIcon.png" alt=""> Tenha acesso livros usados e novos</li>
                    <li><img class="correct" src="/view/css/media/bookIcon.png" alt="">Anuncie seus livros para venda</li>
                    <li><img class="correct" src="/view/css/media/bookIcon.png" alt="">Plataforma 100% confiável</li>
                </ul>

            </aside>
        </section>


    </main>
</body>
</html>