<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8"> <!--- Qual significado disso? -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/LivrosAqui/view/css/media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/LivrosAqui/view/css/headerStyle.css">
    <link rel="stylesheet" href="/LivrosAqui/view/css/verLivrosStyle.css">

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!---->

    <title> Livros Aqui - Catálogo</title>
</head>
<body>
    <header>
        <a id="icon" href="/LivrosAqui/view/html/index.html">
            <img src="/LivrosAqui/view/css/media/book.png" alt="">
            <h1>LIVROS <span>AQUI</span></h1>
        </a>

        <nav>
            <a href="verLivros.html" >Catálogo</a>
            <a href="anunciarLivros.html" >Vender livros</a>
            <a href="sobreNos.html">Sobre nós</a>
        </nav>

        <aside>
            <img src="/LivrosAqui/view/css/media/login.png">
            <a href="login.html">
                <h2 id="LoginArea">Login</h2>
            </a>
            <h3 id="Exit">Encerrar sessão</h3>
            
        </aside>

    </header>
    <main>

        <aside class="sectionFilter">
            <h2 >
                Categorias
            </h2>

            <h3 >
                Gêneros literários
            </h3>

            <ul class="listaCategorias">
                <li>Não listado</li>
                <li>Ficção Científica</li>
                <li>Romance</li>
                <li>Fantasia</li>
                <li>Terror</li>
                <li>Mistério</li>
                <li>Aventura</li>
                <li>Biografia</li>
                <li>História</li>
                <li>Autoajuda</li>
                <li>Poesia</li>
                <li>Suspense</li>
                <li>Infantil</li>
                <li>Juvenil</li>
                <li>Não-Ficção</li>
                <li>Drama</li>
                <li>Literatura Clássica</li>
                <li>Crônica</li>
            </ul>

            </ul>
            
        </aside>

        <article class="sectionBook">
            <ul class="listBook">
                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>

                <li class="book">
                    <div class="bookImg" href="">
                        <img src="/LivrosAqui/view/css/media/S.jpg" alt="">
                    </div>

                    <div class="bookText">
                        
                        <p>Título</p>

                        <p>Autor</p>

                        <p>Comprar livro</p>

                    </div>
                </li>


            </ul>

        </article>
        
        <section class="Investigate">

        </section>

    </main>

</body>